# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [156]:
import pandas as pd

In [157]:
# columns = ['surgery','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain','outcome']

In [158]:
columns = ['surgery','Age','Hospital ID','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse',"mucous membranes",'capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen',' packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','1','2','3','path']

In [159]:
df = pd.read_csv('horse_data.csv', sep = ',', header = None, na_values='?', names = columns)

In [160]:
df.head()

,surgery,Age,Hospital ID,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,1,2,3,path
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [161]:
df.drop(['Hospital ID','peripheral pulse',"mucous membranes",'capillary refill time','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen',' packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','surgical lesion?','1','2','3','path'], axis=1, inplace = True)

In [162]:
df.head(10)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0

In [163]:
# Количественные данные: rectal temperature, pulse, respiratory rate
# Качественные (категориальные): surgery, Age, temperature of extremities, pain, outcome

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [164]:
# Нормальные жизеные показания лошади:
#    Температура: 37-38.5 С
#    Пульс: 36-44 удара в минуту
#    Дыхание: 8-15 вдоха в минуту

In [165]:
# Основыне статистики можно получить применив к датафрейму метод describe()
df.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [166]:
# В столбце "surgery" все значения корректные (1 или 2)
# В столбце "Age" есть значения (9), которые не указаны в описании(может принимать только 1 или 2),
# что является скорее всего технической ошибкой. А (2) нет совсем.
# Данные имеют много пропусков, 
# В столбцах 'pulse' и 'respiratory rate' высокое СКО

In [167]:
#  всего в столбце "Age" (9) = 24. Что еще раз говорит о том, что вместо 9 должна быть 2.

df_A = df[df.Age == 9]
df_A.Age.count()

24

In [184]:
#заменим все (9) на (2)
df['Age'].replace({9:2}, inplace = True)
df.head()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [185]:
# Считаем Моду для всех столбцов
df.round().mode()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0

In [186]:
#  Медиана
df.median()

surgery                        1.0
Age                            1.0
rectal temperature            38.2
pulse                         64.0
respiratory rate              24.5
temperature of extremities     3.0
pain                           3.0
outcome                        1.0
dtype: float64

In [187]:
#  Дисперсия
df.var()

surgery                         0.240399
Age                             0.073846
rectal temperature              0.536247
pulse                         819.708775
respiratory rate              311.248328
temperature of extremities      1.092137
pain                            1.710706
outcome                         0.543445
dtype: float64

In [188]:
# Размах
df_range = df.max() - df.min()
df_range

surgery                         1.0
Age                             1.0
rectal temperature              5.4
pulse                         154.0
respiratory rate               88.0
temperature of extremities      3.0
pain                            4.0
outcome                         2.0
dtype: float64

In [189]:
# межквартильный размах целесообразно считать только для количественных данных
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(f"rectal temperature IQR = {IQR['rectal temperature']}")
print(f"pulse IQR = {IQR['pulse']}")
print(f"respiratory rate IQR = {IQR['respiratory rate']}")

rectal temperature IQR = 0.7000000000000028
pulse IQR = 40.0
respiratory rate IQR = 17.5

In [190]:
#  Выбросы
#  Выбросы считаем так же для количественных данных
lower_bound = Q1 - (1.5 * IQR) 
upper_bound = Q3 + (1.5 * IQR)

In [191]:
print('rectal temperature: ')
print(f"    lower_bound = {lower_bound['rectal temperature']}")
print(f"    upper_bound = {upper_bound['rectal temperature']}")

rectal temperature:
    lower_bound = 36.74999999999999
    upper_bound = 39.550000000000004

In [192]:
print('pulse: ')
print(f"    lower_bound = {lower_bound['pulse']}")
print(f"    upper_bound = {upper_bound['pulse']}")

pulse:
    lower_bound = -12.0
    upper_bound = 148.0

In [193]:
# Нормальный пульс лежит в границах от 20-40 и при болезнях учащается. Поэтому данные по 'pulse' можно считать коректными

In [194]:
print('respiratory rate: ')
print(f"    lower_bound = {lower_bound['respiratory rate']}")
print(f"    upper_bound = {upper_bound['respiratory rate']}")

respiratory rate:
    lower_bound = -7.75
    upper_bound = 62.25

In [195]:
#  respiratory rate - в описании к датасету сказано: полезность сомнительна из-за больших колебаний
#  можно не уитывать при дальнейшей работе

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [197]:
null = df.isnull().sum()
null

surgery                        1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [198]:
# Заполнение столбцов, содержащих количественные, непрерывные переменные, с помощью MEAN

In [199]:
df['rectal temperature'].fillna(df['rectal temperature'].mean(), inplace = True)

In [200]:
df['pulse'].fillna(df['pulse'].mean(), inplace = True)

In [201]:
#  respiratory rate - в описании к датасету сказано: полезность сомнительна из-за больших колебаний
# заполняем пропуски средним, т.к. датасет про больных лошадей
df['respiratory rate'].fillna(df['respiratory rate'].mean(), inplace = True)

In [202]:
null = df.isnull().sum()
null

surgery                        1
Age                            0
rectal temperature             0
pulse                          0
respiratory rate               0
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [203]:
# в категориальных столбцах заполняем модой, пропусков не много

for col in df.columns.values:
    if (df[col].isnull().sum()>0):  
        if (df[col].dtype == 'float64'):
            df[col].fillna(df[col].mode()[0], inplace = True)

In [204]:
# Проверяем все ли данные мы заполнили
null = df.isnull().sum()
null

surgery                       0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.