### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [66]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [67]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [68]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [69]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance

In [70]:
result = joined[joined.rating == 5.0 ]['title'].value_counts(normalize=True).head(1)
result

Shawshank Redemption, The (1994)    0.010949
Name: title, dtype: float64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [71]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [72]:
power = data[ ((data['country']=='Estonia') | 
                     (data['country']=='Latvia') | 
                     (data['country']=='Lithuania')) & 
                     ((data['category']==4) | 
                     (data['category']==12) | 
                     (data['category']==21)) & 
                     ((data['year']==2005) |
                     (data['year']==2006) |
                     (data['year']==2007) |
                     (data['year']==2008) |
                     (data['year']==2009) |
                     (data['year']==2010)) &
                     (data['quantity']>0)
                    ]['quantity'].sum()

power

240580.0

In [73]:
# Вариант с спользованием метода isin()

In [74]:
power = pd.read_csv('power.csv')
power[((power.country.isin(['Latvia','Lithuania','Estonia'])) & 
       (power.category.isin([4,12,21])) & 
       ((power.year >= 2005) & (power.year <= 2010)) & 
       (power.quantity > 0))].quantity.sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [75]:
page_url = 'https://www.finanz.ru/'

In [76]:
df = pd.read_html(page_url, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')[0]
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 855,"-0,2%",Nasdaq,14 702,"1,0%",Биткойн,33 551,"0,0%",USD/RUB,744125,"-0,1%"
1,РТС,1 635,"0,5%",S&P500,4 370,"1,1%",Нефть,756,"1,7%",EUR/RUB,880975,"-0,3%"
2,Dow,34 870,"1,3%",FTSE100,7 122,"1,3%",Золото,1 809,"0,3%",EUR/USD,11877,"0,0%"

In [77]:
news_table_ = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')
pd.DataFrame(news_table_[1])

          0   1                   2                         3
0  09.07.21 NaN                BASF  Jefferies & Company Inc.
1  09.07.21 NaN  Volkswagen (VW) vz        Bernstein Research
2  09.07.21 NaN  Volkswagen (VW) vz       RBC Capital Markets
3  09.07.21 NaN  Volkswagen (VW) vz     JP Morgan Chase & Co.
4  09.07.21 NaN  Volkswagen (VW) vz  Goldman Sachs Group Inc.

In [78]:
pd.DataFrame(news_table_[2])

                                                   0
0  Нефть и рубль вернулись к росту после сюрприза...
1            В Белоруссии готовят конфискацию валюты
2  Один из крупнейших российских брокеров раскрыл...
3  США и ЕС отрезают Россию от последнего канала ...
4  «Концентрация вируса снижается в 10 тысяч раз»...
5  Европа на четыре недели заблокировала сделки с...
6  Байден потребовал от Путина остановить кибератаки
7  Крупный европейский фонд сбежал из российских ...
8  Госбанки объявили бойкот бюджету: Спрос на рос...
9           Путин поручил готовить экономику к войне